 @media print
        {
body {
	font-family: Arial, "helvetica", Nimbus Roman No9 L,"Times New Roman";
	font-size: 16px;
	color: #000;
	background-color: #efefef;
  margin:0px auto; 
}

p{
	border: 3px solid #000; 
	color: #bbb; 
	padding: 1px; 
	margin: 1px;
}

h2{
	font-size: 22px;
	border-bottom: 1px dottted black; 
	padding: 5px;
	text-align: center; 
}

.boldness{
	font-style: bold;
	color: #111;
}

.italics{
	font-style: italic;
	color: yellow;
}
}